* {
  padding: 0;
  margin: 0;
}

#time {
  font-size: 10.5px;
  font-weight: 700;
}

.capture-element {
  width: 390px;
  height: 700px;
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} 

.capture-element::-webkit-scrollbar {
  display: none;
}

#header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  background-color: #ecedf0;
}

#chat {
  padding-top: 10px;
  height: 540px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none;   
}

#chat::-webkit-scrollbar {
  display: none;
}

#contact {
  padding-top: 10px;
  background-color: #ecedf0;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%; 
  align-items: flex-start;
}

#contact-name {
  padding-bottom: 5px;
  background-color: #ecedf0;
}

/* #contact-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

.left {
  display: flex;
  padding-left: 10px;
}

#arrow {
  position: absolute;
  left: 0;
}

.right {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  gap: 5px;
}

.time-divider {
  color: #8E8E8E;
  font-weight: 300;
  padding: 5px 0;
}

#footer {
  display: flex;
  gap: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
}
