textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Adjust the value to control the roundness */
    outline: none;
    font-family: 'Helvetica', 'Roboto', 'Arial';
}