#contactName {
    font-size: 20px;
}

.h6 {
    min-height: 63px;
}

.flex-grid {
    display: flex;
    align-items: baseline;
} 

.col {
    flex: 1;
    align-self: center;
    align-items: center;
    padding: 5px;
}