:root {
  --speech-bubble-padding: 5px 10px;
  --speech-bubble-width: 181px;
  --speech-bubble-border-radius: 15px;
  --speech-bubble-padding-text: 10px;
  --speech-bubble-text-align: left;
}

.speech-bubble-container {
  padding: var(--speech-bubble-padding);
}

.speech-bubble {
  position: relative;

  &:before, &:after {
    content: "";
		position: absolute;
    bottom: 0;
    height: 25px;
    /* display: none; <-- this would hide the tail. could also do hidden. */
  }
}

.sender-speech-bubble {
  background-color: #4d95f7;
  width: var(--speech-bubble-width);
  border-radius: var(--speech-bubble-border-radius);
  padding: var(--speech-bubble-padding-text);
  color: #fff;
  text-align: var(--speech-bubble-text-align);
  margin: var(--speech-bubble-margin);
  margin-left: auto; /* solution to make the speech bubble always right */

  &:before {
		right: -7px;
    width: 20px;
    background-color:#4d95f7;
		border-bottom-left-radius: 16px 14px;
	}

	&:after {
		right: -26px;
    width: 26px;
    background-color: #fff;
		border-bottom-left-radius: 10px;
	}
}

.receiver-speech-bubble {
  background-color: #e5e4e9;
  width: var(--speech-bubble-width);
  border-radius: var(--speech-bubble-border-radius);
  padding: var(--speech-bubble-padding-text);
  color: #000;
  text-align: var(--speech-bubble-text-align);
  margin: var(--speech-bubble-margin);

  &:before {
		left: -7px;
    width: 20px;
    background-color:#e5e4e9;
		border-bottom-right-radius: 16px 14px;
	}

	&:after {
		left: -26px;
    width: 26px;
    background-color: #fff;
		border-bottom-right-radius: 10px;
	}
}