.h6 {
    margin: 0;
    padding: 0
}

.title {
    font-size: 20px;
    text-align: left;
    padding: 5px;
}


.text {
    font-size: 12px;
    text-align: left;
    padding: 0 0 2px 5px;
}

.left-item {
    text-align: left;
}

.right-item {
    text-align: right;
}


